<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>
    <div class="dashboard-nav">
        <div class="nav-left">
            <img src="/static/images/home-logo.png" alt="home">
            <span>Dashboard</span>
        </div>
    </div>

    <div class="page-tabs">
        <a href="/admin-dashboard" class="active">Home</a>
        <a href="/admin-students">Students</a>
        <a href="/admin-companies">Companies</a>
        <a href="/admin-placement-drives">Placement Drive</a>
        <a href="/admin-applications">Applications</a>
    </div>

    <div class="dashboard-data">
        <div class="box">
            <h3>Total Students</h3>
            <p>{{ student|length }}</p>
        </div>
        <div class="box">
            <h3>Total Companies</h3>
            <p>{{ company|length }}</p>
        </div>
        <div class="box">
            <h3>Placement drives</h3>
            <p>{{ placement_drives|length }}</p>
        </div>
        <div class="box">
            <h3>Total Applications</h3>
            <p>{{ applications|length }}</p>
        </div>
    </div>

    <div class="pending-data">
        <div class="pending-drive">
            <h3>Pending Placement Drives</h3>
            {% if unverified_drives %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Job Title</th>
                        <th scope="col">Company</th>
                        <th scope="col">Details</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for drive in unverified_drives %}
                    <tr>
                        <th scope="row">{{ drive.id }}</th>
                        <td>{{ drive.job_title }}</td>
                        <td>{{ drive.company.name }}</td>
                        <td><a href="#" class="btn btn-primary btn-sm">View</a></td>
                        <td>
                            <a href="/admin-approve-placement-drive/{{ drive.id }}" class="btn btn-success btn-sm">Approve</a>
                            <a href="/admin-reject-placement-drive/{{ drive.id }}" class="btn btn-danger btn-sm">Reject</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No pending placement drives.</p>
            {% endif %}
        </div>
        <div class="pending-companies">
            <h3>Pending Company Approvals</h3>
            {% if unverified_company %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">website link</th>
                        <th scope="col">Details</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in unverified_company %}
                    <tr>
                        <th scope="row">{{ company.id }}</th>
                        <td>{{ company.name }}</td>
                        <td><a href="{{ company.website_link }}">{{ company.website_link }}</a></td>
                        <td><a href="/admin-company-details/{{ company.id }}" class="btn btn-primary btn-sm">View</a></td>
                        <td>
                            <a href="/company-verified/{{ company.id }}"  class="btn btn-success btn-sm">Approve</a>
                            <a href="/company-rejected/{{ company.id }}" class="btn btn-danger btn-sm">Reject</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No pending company approvals.</p>
            {% endif %}
        </div>
    </div>

</body>

</html>