<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="company.css">
</head>

<body>
    <div class="dashboard-nav">
        <div class="nav-left">
            <img src="https://ui-avatars.com/api/?name=Admin&background=f59e0b&color=ffffff&size=35" alt="home">
            <span>Dashboard</span>
        </div>
    </div>

    <div class="page-tabs">
        <a href="/company-dashboard/{{ application.company.id }}">Dashboard</a>
        <a href="/company-applications/{{ application.company.id }}">Applications</a>
        <a href="/company-placement-drive/{{ application.company.id }}">Placement Drive</a>
    </div>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h2>Applicant Details</h2>
        </div>
    </nav>

    <div class="information">
        <div class="profile-logo">
            <img src="https://ui-avatars.com/api/?name={{ application.student.name }} &amp;background=4e6fbf&amp;color=ffffff"
                alt="Avatar" class="symbol rounded-circle symbol-logo" />
        </div>
        <div class="profile-info">
            <p>Name :- {{ application.student.name }}</p>
            <p>Email :- {{ application.student.user.email }}</p>
            <p>Phone :- {{ application.student.phone }}</p>
            <p>Academic level :- {{ application.student.academic_level }}</p>
            <p>github link :- <a href="{{ application.student.github_link }}" target="_blank">{{ application.student.github_link }}</a></p>
            {% if application.status == 'Applied' %}
            <a href="/reject-applicant/{{ application.id }}" class="btn btn-danger">reject</a>
            <a href="/shortlist-applicant/{{ application.id }}" class="btn btn-warning">shortlist</a>
            {% elif application.status == 'Shortlisted' %}
            <a href="/reject-applicant/{{ application.id }}" class="btn btn-danger">reject</a>
            <a href="/accept-applicant/{{ application.id }}" class="btn btn-success">accept</a>
            {% endif %}
        </div>
    </div>
</body>

</html>