<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    {% if company.status == 'verified' %}
        <h1>Welcome to the Company Dashboard, Company ID: {{ company.id }}</h1>
    {% elif company.status == 'deactivated' %}
        <h1>Your company has been deactivated.</h1>
    {% else %}
        <h1>Your company is pending verification. Please wait for admin approval.</h1>
    {% endif %}
</body>
</html>